################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs
/BestStoreMVC/bin/Debug/net8.0
/BestStoreMVC/obj
